.contact {
    .contact-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        &_title {
            padding-top: 85px;
            font-family: 'Anton';
            font-weight: 400;
            font-size: 50px;
            line-height: 75px;

            text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);

            color: #FFBC00;
            span {
                color: rgb(0, 0, 0);
            }
        }
        &_scrollUp {
            padding-top: 60px;
            position: sticky;
        }
    }
    .contact-us {
        padding: 49px 60px 71px 60px;
        display: flex;
        flex-direction: column;
        margin-top: 31px;
        width: 900px;
        height: 550px;
        margin-bottom: 53px;

        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
        border-radius: 30px;
        label {
            margin-top: 30px;
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;

            color: #999999;
        }
        .contact-forms {
            margin-top: 30px;
            width: 50%;
            border: none;
            border-bottom: 2px solid black;
        }
    }
}


$gray: #9b9b9b;
.form__group {
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: 'Ubuntu';
  width: 50%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  transition: border-color 0.2s;
}

.form__label {
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}
.form__btn {
    margin-top: 30px;
    width: 170px;
    height: 61px;

    border: none;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;

color: #000000;

    background: #FFBC00;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}