header {
    height: 100%;
    
    background: #FFBC00;
    nav {
        ul {
            display: grid;
            gap: 50px;
            grid-template-columns: 1fr repeat(4, 150px);
            column-gap: 15px;
            img {
                padding-top: 52px;
            }
            .header-links {
                padding-top: 62px;
                font-family: 'Ubuntu';
    
                list-style: none;
                text-shadow: 0 2px 2px rgba(0, 0, 0, .1);;
    
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                a {
                    text-decoration: none;
                    color: black;
                    transition: all 0.3s;
                    cursor: pointer;
                    &:hover {
                        color: white;
                        text-shadow: 3px 9px 9px rgba(0, 0, 0, .5);
                    }
                }
            }
        }
    }
    .header-btn {
            margin-top: 48px;
                width: 118px;
                height: 50px;

                background: #FFFFFF;
                border-radius: 12px;
                border: none;
                box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
                
                font-family: 'Ubuntu';
                font-weight: 500;
                font-size: 18px;
                
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                    width: 140px;
                    height: 60px;

                    background-color: #e4e4e4;
                    color: rgba(0, 0, 0, .5);
                    border: none;
                }
    }
    .header-content {
        display: flex;
        .header-wrapper {
            padding-bottom: 55px;
            padding-top: 184px;
            .header-btn {
                margin-left: 90px;
                width: 176px;
                height: 65px
            }
        }
        
        &_descr {
            padding-top: 33px;
            padding-left: 90px;

            font-family: 'Ubuntu';

            font-weight: 400;
            font-size: 18px;

            line-height: 160%;

            text-shadow: 0 3px 3px rgba(0, 0, 0, .3);;
        }
        &_img {
            padding-top: 155px;
            position: absolute;
            width: 600px;
            height: 400px;
            right: 0;
        }
        .scroll-arrow {
            padding-top: 65px;
        }
        &_scroll {
            cursor: pointer;
        }
    }
}

.menu {
    display: none;
    position: absolute;
    padding-top: 40px;
    top: 0;
    left: 0;
    background: #FFBC00;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        &_logo {
            padding-left: 31px;
            width: 162px;
            height: 35px;
        }
        &_close {
            padding-right: 27px;
        }
    }
    &-list {
        display: flex;
        gap: 0;
        flex-direction: column;
        .header-links {
            padding: 28px 0 0 31px;
            padding-top: 28px;
        }

        span {
            padding: 60px 0 0 31px;
            font-family: 'Ubuntu';
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            /* or 29px */


            color: #000000;

            opacity: 0.5;
        }
    }
}

.active {
    display: block;
}

.mobile-wrapper {
    display: none;
}

.mobile-img {
    display: none;
}