@media (max-width: 768px) {
    // Header component
    header {
       min-height: 100%;
       nav {
           display: none;
       }
       
       h1 {
           font-size: 42px;
       }

       .mobile-img {
            display: block;
            width: 90%;
            height: 90%;  
            padding-left: 30px;
            padding-bottom: 50px;
       }
       
       .header-content_descr {
           padding: 25px 0;
           text-shadow: none;
       }
       
       .header-content .header-wrapper {
           padding: 70px 30px 27px;
       }
       
       .header-content {
           display: flex;
           flex-direction: column;
       }
       
       .header-logo {
           padding: 45px 0px 0px 28px;
           display: block;
       }

       .header-img {
           display: none;
       }

       .scroll-arrow {
           display: none;
       }
       
       .mobile-wrapper {
           display:  block;
           .hamburger {
               position: absolute;
               top: 20px;
               right: 30px;
               height: 21px;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               align-items: flex-end;
               cursor: pointer;
               span {
                   width: 30px;
                   height: 3px;
                   border-radius: 1px;
                   background: black;
               }
               .up {
                   width: 17.73px;
                   height: 3px;
                   margin-right: 12px;
               }
               .down {
                   width: 17.73px;
                   height: 3px;
                   margin-left: 12px;
               }
               .long {
                   border-radius: 100px;
               }
           }
       }

       #HBTN {
           margin: 30px 0;
       }
   }

   // Contact component
   .contact{
        .contact-wrapper_title {
            margin: 0 auto;
        }
       .contact-us {
            margin: 15px auto;
            width: 80%;
       }
       .form__field {
           width: 99%;
       }
       .form__field-error {
           width: 99%;
       }
       .form__btn {
           margin: 71px auto;
       }
       textarea {
           border-bottom: none;
       }
       .fixedArrow {
        display: none;
       }
   }
}

@media (max-width: 427px) {
    // Header component
    header {
       min-height: 100%;
       nav {
           display: none;
       }
       
       h1 {
           font-size: 42px;
       }

       .mobile-img {
            display: block;
            width: 90%;
            height: 90%;  
            padding-left: 30px;
            padding-bottom: 50px;
       }
       
       .header-content_descr {
           padding: 25px 0;
           text-shadow: none;
       }
       
       .header-content .header-wrapper {
           padding: 70px 30px 27px;
       }
       
       .header-content {
           display: flex;
           flex-direction: column;
       }
       
       .header-logo {
           padding: 45px 0px 0px 28px;
           display: block;
       }

       .header-img {
           display: none;
       }

       .scroll-arrow {
           display: none;
       }
       
       .mobile-wrapper {
           display:  block;
           .hamburger {
               position: absolute;
               top: 20px;
               right: 30px;
               height: 21px;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               align-items: flex-end;
               cursor: pointer;
               span {
                   width: 30px;
                   height: 3px;
                   border-radius: 1px;
                   background: black;
               }
               .up {
                   width: 17.73px;
                   height: 3px;
                   margin-right: 12px;
               }
               .down {
                   width: 17.73px;
                   height: 3px;
                   margin-left: 12px;
               }
               .long {
                   border-radius: 100px;
               }
           }
       }

       #HBTN {
           margin: 30px 0;
       }
   }

   // Contact component
   .contact{
        .contact-wrapper_title {
            margin: 0 auto;
        }
       .contact-us {
           margin: 15px auto;
           width: 70%;
       }
       .form__field {
           width: 80%;
       }
       .form__field-error {
           width: 80%;
       }
       .form__btn {
           margin: 71px 87px 30px 86px;
       }
       textarea {
           border-bottom: none;
       }
       .fixedArrow {
        display: none;
       }
   }
}

@media (max-width: 376px) {
    
    // Header component
    header {
        min-height: 100%;
        nav {
            display: none;
        }
        
        h1 {
            font-size: 42px;
        }

        .mobile-img {
            display: block;
            width: 90%;
            height: 90%;
            padding-left: 30px;  
            padding-bottom: 50px;
        }
        
        .header-content_descr {
            padding: 25px 0;
            text-shadow: none;
        }
        
        .header-content .header-wrapper {
            padding: 70px 30px 27px;
        }
        
        .header-content {
            display: flex;
            flex-direction: column;
        }
        
        .header-logo {
            padding: 45px 0px 0px 28px;
            display: block;
        }

        .header-img {
            display: none;
        }

        .scroll-arrow {
            display: none;
        }
        
        .mobile-wrapper {
            display:  block;
            .hamburger {
                position: absolute;
                top: 20px;
                right: 30px;
                height: 21px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                cursor: pointer;
                span {
                    width: 30px;
                    height: 3px;
                    border-radius: 1px;
                    background: black;
                }
                .up {
                    width: 17.73px;
                    height: 3px;
                    margin-right: 12px;
                }
                .down {
                    width: 17.73px;
                    height: 3px;
                    margin-left: 12px;
                }
                .long {
                    border-radius: 100px;
                }
            }
        }

        #HBTN {
            margin: 30px 0;
        }
    }

    // Contact component
    .contact{
        width: 100%;
        .contact-wrapper_title {
            margin: 0 auto;
        }
        .contact-us {
            margin: 15px auto;
            width: 60%;
        }
        .form__label {
            margin-left: 20px;
        }
        .form__field {
            width: 100%;
        }
        .form__field-error {
            width: 100%;
        }
        .form__btn {
            margin: 71px 87px 30px 86px;
        }

        .fixedArrow {
            display: none;
        }

        .formik__error {
            font-size: 12px;
        }

        textarea {
            border-bottom: none;
        }
    }
}
